body {
    background: #f0f0f0;
}
.attendance-wrapper {
    height: calc(100vh - 80px); /* ヘッダー分引く */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 縦中央 */
    align-items: center; /* 横中央 */
    text-align: center;
}

.attendance-status {
    display: inline-block;
    color: #696969;
    background: #d9d9d9; /* ネズミ色 */
    padding: 8px 20px;
    border-radius: 20px; /* 角丸 */
    font-size: 14px;
    margin-bottom: 30px;
}

.attendance-date {
    font-size: 20px;
    margin-bottom: 10px;
}

.attendance-time {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 40px;
}

.attendance-btn {
    width: 100px;
    height: 45px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.attendance-buttons {
    display: inline-flex;
    gap: 20px; /* ボタンの間の余白 */
    justify-content: center; /* 真ん中寄せ */
}

.attendance-buttons form {
    margin: 0;
    width: auto;
}

.attendance-btn {
    display: inline-block;
}

.break-btn {
    background: #fff;
    color: #000;
}

.detail-card {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
}

.detail-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;  
}

.detail-table th {
    width: 40%;
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.detail-table td {
    width: 60%;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.title-area {
    display: flex;
    align-items: center;
    width: 60%;
    gap: 10px; 
}

.line {
    width: 5px;
    height: 40px;
    background: black;
    margin-right: 10px;
    flex-shrink: 0; 
}

.title-text {
    font-size: 20px;
    font-weight: bold;
}

input[type="time"] {
    padding: 8px;
}

.submit-btn {
    display: block;
    margin-top: 20px;
    margin-left: 0;
    padding: 10px 30px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
}


.break-row {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.tilde {
    margin: 0 8px;
}

textarea {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.date-box {
    display: flex;
    gap: 100px;
    align-items: center;
}

.button-area {
    width: 60%;
    margin: 20px auto 0;
    display: flex;
    justify-content: flex-end;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
}


