.header {
    background: #000;
}

.header__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-nav a {
    color: #fff;
    text-decoration: none;
}

.header-nav button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.verify-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.verify-text {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
}

.verify-button {
  background-color: #ddd;
  border: 1px solid #999;
  padding: 10px 30px;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 6px;
 font-weight: bold;
}

.resend-link {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
}

.resend-link {
  margin-top: 10px;
}


/*一覧共通スタイル*/

body {
    background-color: #f0f0f0;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.card-header {
  margin-bottom: 20px;
}

.date-card {
  background-color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}


.attendance-table {
  width: 100%;
  border-collapse: collapse;
}

.attendance-table th,
.attendance-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}


.date-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.attendance-title {
  margin: 50px 0;
  border-left: 5px solid black;
  padding-left: 10px;
  font-size: 20px;
}